@use "../../global" as util;
.login-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  gap: 42px;
  padding-top: 175px;
  padding-left: 45px;

  .image-container {
    display: flex;
    justify-content: center;
    img {
      width: 170px; 
      height: 190px; 
    }
  }

  .text-container {
    color: #000;
    font-family: Inika;
    font-size: 32px; 
    font-weight: 420;
    align-items: center;
  }
}
